version: "3.9"

services:
  backend:
    build: .
    container_name: fcookie-backend
    restart: always
    environment:
      NODE_ENV: production
      PORT: 4000
      MONGO_URI: ${MONGO_URI}
      MEILI_HOST: http://meilisearch:7700
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
    ports:
      - "4000:4000"
    depends_on:
      - meilisearch

  meilisearch:
    image: getmeili/meilisearch:v1.6
    container_name: meilisearch
    restart: always
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
    ports:
      - "7700:7700"
    volumes:
      - meili_data:/meili_data

  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend

volumes:
  meili_data:
